.title{
    background-color: black;
    position: sticky;
    top: 0;
    animation : colorChange 7s infinite;
}
@keyframes colorChange{
    0%{color:#c6ffdd}
    25%{color:#fbd786}
    50%{color:#f7797d}
    100%{color:skyblue}
}

.tableHeader{
    background-color: #3f0d12;
    background-image: linear-gradient(179deg, #3f0d12 -225%, #a71d31 195%); 
}

.modalHeader{
    background-image: linear-gradient(to right, #ed213a, #c7ab57);
    color: white;
}

.modalBody{
    background-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
}

.modalFooter{
    background-image: linear-gradient(to left, #ed213a, #4e555d);
}

