.title{
    background-color: black;
    position: sticky;
    top: 0;
    animation : colorChange 10s infinite;
}
@keyframes colorChange{
    0%{color:#c6ffdd}
    25%{color:#fbd786}
    50%{color:#f7797d}
    100%{color:skyblue}
}

.btn{
    padding: 3px 40px !important;
    font-size: 0.9rem !important;
    border-radius: 1rem !important;
    color:#fff;
}

.btn-success-custom{
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)!important
}
.btn-primary-custom{
    background-image: linear-gradient(to right, #F7BB97 0%, #DD5E89 51%, #F7BB97 100%)!important
}

.tableHeader{
    background-color: #3f0d12;
    background-image: linear-gradient(179deg, #3f0d12 -225%, #a71d31 195%); 
}

.modalHeader{
    background-image: linear-gradient(to right, #ed213a, #c7ab57);
    color: white;
}

.modalBody{
    background-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
}

.modalFooter{
    background-image: linear-gradient(to left, #ed213a, #4e555d);
}

.highlight{
    background-image:  linear-gradient(to left, #1e9600, #fff200, #ff0000);
}

