*{
  margin: 0px;
  padding: 0px;
}

html,
body,
#root {
  margin: 0;
  background-color: #000;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app-root {
  background-color: #000;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
